* {
  margin: 0 auto; }

html {
  scroll-behavior: smooth; }

h2 {
  color: #797979;
  padding: 2em 0em;
  letter-spacing: 0.3em;
  font-size: 1.7em;
  font-family: 'Hammersmith One', sans-serif;
  text-align: center; }

h3 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 1.1em; }

h4 {
  color: #797979;
  padding: 2em 0em;
  letter-spacing: 0.3em;
  font-size: 1.7em;
  font-family: 'Hammersmith One', sans-serif;
  width: 70%; }

p {
  font-size: 1.1em;
  font-family: 'Cairo', sans-serif; }

#sidebar {
  z-index: 10;
  top: 4.1em;
  position: fixed;
  width: 20em;
  height: 100%;
  background-color: black;
  left: -20em;
  transition: all 0.3s linear; }

#sidebar.active {
  left: 0em; }

nav {
  transition: 0.5s all; }
  nav ul {
    padding: 0%; }
  nav li {
    list-style-type: none; }
  nav a {
    display: block;
    padding: 1em 0em 1em 1em;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-family: 'Black Han Sans', sans-serif;
    transition: 0.2s all; }
  nav a:hover {
    background-color: #307030;
    text-decoration: none;
    color: white; }

.hero-container {
  color: white;
  text-align: center;
  padding-top: 5em;
  transition-delay: 0.6s; }

#logo {
  padding-bottom: 1em; }

.main-title {
  font-family: 'Black Han Sans', sans-serif;
  font-size: 3.5em; }

#about-container {
  padding-bottom: 5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "about-title about-title" "1st-par 2nd-par"; }
  #about-container h2 {
    grid-area: about-title; }

#about-par-first {
  padding-left: 10em;
  width: 90%;
  grid-area: 1st-par; }

#about-par-second {
  padding-right: 10em;
  width: 90%;
  grid-area: 2nd-par; }

#about-img {
  width: 100%;
  height: 90vh; }

.content-width {
  width: 70%; }

.grid1st-images {
  width: 100%;
  height: 50vh; }

.grid2nd-images {
  width: 100%;
  height: 70vh; }

.box {
  width: 100%;
  height: 25em;
  transition: 0.5s;
  opacity: 0.5; }

.box:hover {
  transform: scale(1.1);
  opacity: 1;
  z-index: 2;
  background: none;
  box-shadow: 2px 2px 1px 1px white; }

#formbg {
  background-image: url(../images/kirstenbosch.jpg);
  width: 100%;
  height: 110vh;
  background-repeat: no-repeat;
  background-size: cover; }

#form-container {
  top: 5em;
  position: relative;
  background: rgba(0, 0, 0, 0.774);
  margin: 60px auto 120px;
  text-align: center;
  padding: 50px 0 110px;
  width: 80%;
  max-width: 1100px;
  transition-delay: 0.5s; }

.form-title {
  margin-bottom: 40px;
  font-size: 3.5em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-family: 'Hammersmith One', sans-serif;
  color: white; }

form {
  width: 58.3333333333%;
  margin: 0 auto; }
  form .field {
    width: 100%;
    position: relative;
    margin-bottom: 15px; }
    form .field label {
      text-transform: uppercase;
      position: absolute;
      top: 0;
      left: 0;
      background: gray;
      width: 100%;
      padding: 18px 0;
      font-size: 1.45em;
      letter-spacing: 0.2em;
      transition: all 333ms ease-in-out;
      font-family: 'Cairo', sans-serif; }
    form .field input[type="text"],
    form .field textarea {
      border: none;
      background: #e8e9ea;
      width: 80.5%;
      margin: 0;
      padding: 18px 0;
      padding-left: 19.5%;
      color: gray;
      font-size: 1.4em;
      letter-spacing: 0.05em;
      font-family: 'Cairo', sans-serif; }
      form .field input[type="text"]#msg,
      form .field textarea#msg {
        height: 3em;
        resize: none;
        transition: all 333ms ease-in-out; }
      form .field input[type="text"]:focus, form .field input[type="text"].focused,
      form .field textarea:focus,
      form .field textarea.focused {
        outline: none; }
        form .field input[type="text"]:focus#msg, form .field input[type="text"].focused#msg,
        form .field textarea:focus#msg,
        form .field textarea.focused#msg {
          padding-bottom: 150px; }
        form .field input[type="text"]:focus + label, form .field input[type="text"].focused + label,
        form .field textarea:focus + label,
        form .field textarea.focused + label {
          width: 18%;
          background: #307030;
          color: white; }
    form .field:hover label {
      width: 18%;
      background: gray;
      color: white; }
  form input[type="submit"] {
    background: #307030;
    color: white;
    border: none;
    text-transform: uppercase;
    position: relative;
    padding: 13px 50px;
    font-size: 1.4em;
    letter-spacing: 0.1em;
    font-family: 'Hammersmith One', sans-serif;
    transition: all 333ms ease-in-out; }
    form input[type="submit"]:hover {
      background: gray; }
    form input[type="submit"]:focus {
      outline: none;
      background: #112911; }

.toggle-btn {
  margin-left: 0%;
  grid-area: btn;
  padding: 1em;
  background-color: #307030; }

.toggle-btn span {
  display: block;
  width: 30px;
  height: 5px;
  background-color: white;
  margin: 3px 0px; }

#vid-container {
  margin-top: 4.1em;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden; }

#vid-bg {
  position: absolute;
  min-width: 100%;
  z-index: -1; }

.mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 100px;
  margin-top: 5em;
  transition-delay: 1s; }

.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  transform: rotate(45deg);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px; }

.arrow-1 {
  margin-top: 1px; }

.arrow-1, .arrow-2, .arrow-3 {
  animation: mouse-scroll 1s infinite; }

.arrow-1 {
  animation-direction: alternate;
  animation-delay: alternate; }

.arrow-2 {
  animation-delay: .2s;
  animation-direction: alternate;
  margin-top: -6px; }

.arrow-3 {
  animation-delay: .3s;
  animation-direction: alternate;
  margin-top: -6px; }

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px; }

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  border-radius: 8px; }

.wheel {
  animation: mouse-wheel 0.6s linear infinite; }

@keyframes mouse-wheel {
  0% {
    top: 1px; }
  25% {
    top: 2px; }
  50% {
    top: 3px; }
  75% {
    top: 2px; }
  100% {
    top: 1px; } }
@keyframes mouse-scroll {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }
.readmore-btn {
  background-color: #307030;
  margin-top: 3em;
  display: inline-block;
  padding: 1em;
  border-radius: 0.4em;
  border: 1px solid #307030;
  text-decoration: none;
  color: white;
  transition: 0.5s all; }

.readmore-btn:hover {
  text-decoration: none;
  color: white;
  background-color: #204920;
  border: 1px solid #204920; }

.icons {
  width: 14%;
  margin-bottom: 1em; }

@media (min-width: 320px) and (max-width: 480px) {
  h2 {
    font-size: 1em; }

  h3 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.1em; }

  h4 {
    color: #797979;
    padding: 2em 0em;
    letter-spacing: 0.3em;
    font-size: 1.7em;
    font-family: 'Hammersmith One', sans-serif;
    width: 85%;
    font-size: 1.1em;
    margin-bottom: 0%; }

  p {
    font-size: 0.9em;
    font-family: 'Cairo', sans-serif; }

  .nav-topbar {
    font-size: 0.8em; }

  #menu {
    right: 0.5em !important; }

  #contact {
    left: 21% !important; }

  .readmore-btn {
    padding: 1em;
    font-size: 0.7em; }

  #sidebar {
    width: 12.5em;
    top: 3.4em; }

  nav a {
    display: block;
    padding: 0.6em 0em 0.6em 0.6em;
    font-size: 1em; }

  .hero-container {
    padding-top: 3em; }

  #logo {
    width: 30%;
    height: 30%; }

  .main-title {
    font-size: 2em; }

  #vid-container {
    margin-top: 3.4em !important;
    height: 70vh !important; }

  #vid-bg {
    left: -90%; }

  .mouse_scroll {
    margin-top: 4em; }

  #about-container {
    padding-bottom: 5em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "about-title" "1st-par" "2nd-par"; }

  #about-par-first {
    padding: 0%;
    width: 80%; }

  #about-par-second {
    padding: 0%;
    width: 80%; }

  #about-img {
    height: 34vh; }

  #activity-container {
    grid-template-columns: 1fr !important;
    grid-template-rows: auto !important;
    grid-template-areas: "act-title" "act-title" "fish-contain" "canoe-contain" !important; }

  .grid1st-images {
    height: 34vh; }

  .grid2nd-images {
    height: 34vh; }

  #fishing-container {
    padding-bottom: 5em; }

  .content-width {
    width: 85%; }

  #land-acts-container {
    grid-template-columns: 1fr !important;
    grid-template-rows: auto !important;
    grid-template-areas: "hike-img" "hike-contain" "camp-img" "camp-contain" "hunt-img" "hunt-contain" !important; }

  #hike-container {
    padding-bottom: 5em; }

  #camp-container {
    padding-bottom: 5em; }

  #hunt-container {
    padding-bottom: 5em !important; }

  .icons {
    width: 10%;
    margin-bottom: 0em; }

  #contactinfo {
    padding: 5em 0em 0em 0em !important;
    grid-template-columns: 1fr !important;
    grid-template-rows: auto !important;
    grid-template-areas: "fbook" "phone" "mail" !important; }
    #contactinfo p {
      margin-bottom: 0%;
      font-size: 1em; }
    #contactinfo #phone {
      padding-bottom: 2em !important; }
    #contactinfo #mail {
      padding-bottom: 2em !important; }
    #contactinfo #fbook {
      padding-bottom: 2em !important; } }
.nav-topbar {
  z-index: 10;
  top: 0em;
  position: fixed;
  background-color: black;
  font-family: 'Black Han Sans', sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 16fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "btn menu contact"; }

#menu {
  font-size: 1.2em;
  padding: 1em;
  position: relative;
  color: white;
  right: 1em;
  grid-area: menu; }

#contact {
  font-size: 1.2em;
  padding: 1em;
  position: relative;
  left: 43.2%;
  grid-area: contact;
  background-color: #307030; }

#link-decor {
  text-decoration: none;
  color: white; }

#activity-container {
  padding-bottom: 5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "act-title act-title" "fish-contain canoe-contain"; }
  #activity-container h2 {
    grid-area: act-title; }

#fishing-container {
  grid-area: fish-contain; }

#canoe-container {
  grid-area: canoe-contain; }

#land-acts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "hike-contain hike-img" "camp-img camp-contain" "hunt-contain hunt-img"; }

#hike-img {
  grid-area: hike-img; }

#hike-container {
  background-color: black;
  color: white;
  grid-area: hike-contain; }

#camp-img {
  grid-area: camp-img; }

#camp-container {
  grid-area: camp-contain; }

#hunt-img {
  grid-area: hunt-img; }

#hunt-container {
  background-color: black;
  color: white;
  grid-area: hunt-contain;
  padding-bottom: 2em; }

#contactinfo {
  text-align: center;
  padding: 5em 4em 0em 0em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "phone mail fbook"; }

#phone {
  grid-area: phone; }

#mail {
  grid-area: mail; }

#fbook {
  grid-area: fbook; }

footer {
  text-align: center; }

#gallery-title {
  font-family: 'Black Han Sans', sans-serif;
  text-align: center;
  padding-top: 2em;
  transition-delay: 0.5s; }

.gallery-sub {
  transition-delay: 0.8s; }

.hiking-container {
  overflow: hidden;
  background-color: black;
  width: 100%;
  height: 50em;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  transition-delay: 1s;
  grid-template-areas: "hike-1 hike-2 hike-2 hike-3 hike-3" "hike-4 hike-4 hike-5 hike-6 hike-6" "hike-4 hike-4 hike-5 hike-6 hike-6"; }

#hike-1 {
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url(../images/hiking1.jpg);
  grid-area: hike-1; }

#hike-2 {
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/hiking2.jpg);
  grid-area: hike-2; }

#hike-3 {
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/hiking3.jpg);
  grid-area: hike-3; }

#hike-4 {
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/hiking4.jpg);
  grid-area: hike-4; }

#hike-5 {
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  background-image: url(../images/hiking5.jpg);
  grid-area: hike-5; }

#hike-6 {
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/hiking6.jpg);
  grid-area: hike-6; }

.fishing-container {
  overflow: hidden;
  background-color: black;
  width: 100%;
  height: 50em;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "fishing-1 fishing-1 fishing-1 fishing-3 fishing-3" "fishing-4 fishing-5 fishing-2 fishing-3 fishing-3" "fishing-4 fishing-5 fishing-2 fishing-6 fishing-6"; }

#fishing-1 {
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/fishing1.jpg);
  grid-area: fishing-1; }

#fishing-2 {
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url(../images/fishing4.jpg);
  grid-area: fishing-2; }

#fishing-3 {
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/fishing3.jpg);
  grid-area: fishing-3; }

#fishing-4 {
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/fishing2.jpg);
  grid-area: fishing-4; }

#fishing-5 {
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url(../images/fishing5.jpg);
  grid-area: fishing-5; }

#fishing-6 {
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/fishing6.jpg);
  grid-area: fishing-6; }

.canoe-container {
  overflow: hidden;
  background-color: black;
  width: 100%;
  height: 50em;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "canoe-1 canoe-1 canoe-3 canoe-3 canoe-5" "canoe-1 canoe-1 canoe-4 canoe-4 canoe-6" "canoe-2 canoe-2 canoe-4 canoe-4 canoe-6"; }

#canoe-1 {
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  background-image: url(../images/canoe1.jpg);
  grid-area: canoe-1; }

#canoe-2 {
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/canoe2.jpg);
  grid-area: canoe-2; }

#canoe-3 {
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  background-image: url(../images/canoe3.jpg);
  grid-area: canoe-3; }

#canoe-4 {
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url(../images/canoe4.jpg);
  grid-area: canoe-4; }

#canoe-5 {
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/canoe5.jpg);
  grid-area: canoe-5; }

#canoe-6 {
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/canoe6.jpg);
  grid-area: canoe-6; }

.camp-container {
  overflow: hidden;
  background-color: black;
  width: 100%;
  height: 50em;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "camp-1 camp-1 camp-3 camp-3 camp-6" "camp-2 camp-2 camp-4 camp-4 camp-6" "camp-2 camp-2 camp-4 camp-4 camp-5"; }

#camp-1 {
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url(../images/camp1.jpg);
  grid-area: camp-1; }

#camp-2 {
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/camp2.jpg);
  grid-area: camp-2; }

#camp-3 {
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/camp3.jpg);
  grid-area: camp-3; }

#camp-4 {
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/camp5.jpg);
  grid-area: camp-4; }

#camp-5 {
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/camp4.png);
  grid-area: camp-5; }

#camp-6 {
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/camp6.jpg);
  grid-area: camp-6; }

.hunt-container {
  overflow: hidden;
  background-color: black;
  width: 100%;
  height: 50em;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "hunt-1 hunt-2 hunt-3 hunt-5 hunt-5" "hunt-1 hunt-2 hunt-3 hunt-4 hunt-4" "hunt-6 hunt-6 hunt-6 hunt-4 hunt-4"; }

#hunt-1 {
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url(../images/hunt1.jpg);
  grid-area: hunt-1; }

#hunt-2 {
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/hunt2.jpg);
  grid-area: hunt-2; }

#hunt-3 {
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/hunt6.jpg);
  grid-area: hunt-3; }

#hunt-4 {
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/hunt3.jpg);
  grid-area: hunt-4; }

#hunt-5 {
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  background-image: url(../images/hunt5.jpg);
  grid-area: hunt-5; }

#hunt-6 {
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/hunt4.jpg);
  grid-area: hunt-6; }

/*# sourceMappingURL=main.css.map */
