
//--------------
// Base styles
//--------------

//----- global styles ----- //
* {
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}


h2 {
    @include sub-heading;
    text-align: center; 
}

h3 {
    @include secondary-font;
    font-size: 1.1em;
}

h4 {
    @include sub-heading;
    width: 70%;
}

p {
    font-size: 1.1em;
    @include par-font;
}

//----- global styles ----- //

//=============================== sidebar  styles starts ========================================
  
#sidebar {
    z-index: 10;
    top: 4.1em;
    position: fixed;
    width: 20em;
    height: 100%;
    background-color: black;
    left: -20em;
    transition: all 0.3s linear;
}
#sidebar.active {
    left: 0em;
}

nav {
    transition: 0.5s all;
    ul {
        padding: 0%;
    }
    li {
        list-style-type: none;
    }
    a {
        display: block;
        padding: 1em 0em 1em 1em;
        text-decoration: none;
        color: $white;
        font-size: 1.2em;
        @include main-font;
        transition: 0.2s all;
    }
    a:hover {
        background-color: $green;
        text-decoration: none;
        color: $white;
    }   
}
//=============================== sidebar styles ends ========================================
  


  //=============================== hero section styles starts ========================================

.hero-container {
    color: $white;
    text-align: center;
    padding-top: 5em;
    transition-delay: 0.6s;       
}
#logo {
    padding-bottom: 1em;
}

.main-title {
    @include main-font;
    font-size: 3.5em;
}
  //=============================== hero section styles ends ========================================


//==== about section styles starts ===== //

#about-container {
    padding-bottom: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "about-title about-title"
    "1st-par 2nd-par";
    
    h2 {
        grid-area: about-title;
    }
}
#about-par-first {
    padding-left: 10em;
    width: 90%;
    grid-area: 1st-par;
}
#about-par-second {
    padding-right: 10em;
    width: 90%;
    grid-area: 2nd-par;
}
#about-img {
    width: 100%;
    height: 90vh;
}
//==== about section styles ends ===== //

// ===== activity section global styles === //

.content-width {
    width: 70%;
}
.grid1st-images {
    width: 100%;
    height: 50vh;
}
.grid2nd-images {
    width: 100%;
    height: 70vh;
}
// ===== activity section global styles === //

// ===== Gallery === //
// ===== image container global styles === //
.box {
    width: 100%;
    height: 25em;
    transition: 0.5s;
    opacity: 0.5;
}
.box:hover {   
    transform: scale(1.1);
    opacity: 1;
    z-index: 2;
    background: none;
    box-shadow: 2px 2px 1px 1px $white;
}

// ==============================form===============================

#formbg {
    background-image: url(../images/kirstenbosch.jpg);
    width: 100%;
    height: 110vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#form-container {
    top: 5em;
    position: relative;
    background:rgba(0, 0, 0, 0.774);
    margin:60px auto 120px;
    text-align:center;
    padding:50px 0 110px;
    width:80%;
    max-width:1100px;
    transition-delay: 0.5s;
}
  
.form-title {
    margin-bottom:40px;
    font-size:3.5em;
    text-transform:uppercase;
    letter-spacing: 0.2em;
    @include sub-font;
    color: $white;
}


// Form
form {
    @include grid(7);

        .field {
            width:100%;
            position:relative;
            margin-bottom:15px;

            // Label
            label {
                text-transform: uppercase;
                position:absolute;
                top:0;
                left:0;
                background:$grey;
                width:100%;
                padding:($label-padding + 0px) 0;
                font-size: 1.45em;
                letter-spacing: 0.2em;
                @include ease(333ms);
                @include par-font;
            }

            // Fields
            input[type="text"],
            textarea {
                border:none;
                background:$field-color;
                width:100% - $hover-label-width - $placeholder-bumper;
                margin:0;
                padding:$label-padding 0;
                padding-left:$hover-label-width + $placeholder-bumper;
                color:$grey;
                font-size: 1.4em;
                letter-spacing: 0.05em;
                @include par-font;
                
                &#msg {
                    height: 3em;
                    resize: none;
                    @include ease(333ms);
                }
                    
                // Focus and JS Toggle Class
                &:focus,
                &.focused {
                    outline:none;
              
                    &#msg {
                        padding-bottom:150px;
                    }

                    + label {
                        width:$hover-label-width;
                        background:$green;
                        color:$white;
                    }
                }
            }

            // Field Hover
            &:hover {
                label {
                    width:$hover-label-width;
                    background:$grey;
                    color:$white;
                }
            }
        }

        // Submit Button
        input[type="submit"] {
            background:$green;
            color:$white;
            border: none;
            text-transform: uppercase;
            position:relative;
            padding: 13px 50px;
            font-size: 1.4em;
            letter-spacing: 0.1em;
            @include sub-font;
            @include ease;

            &:hover {
                background:$grey;
            }

            &:focus {
                outline:none;
                background:$dark-green;
            }
        }
}
