* {
    margin: 0 auto;
}
.navgrid {
    z-index: 1;
    top: 0em;
    position: fixed;
    background-color: black;
    font-family: 'Black Han Sans', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 16fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "btn menu contact";
}
.toggle-btn {
    margin-left: 0%;   
    grid-area: btn;
    padding: 1em;
    background-color: rgb(48, 112, 48);
}
.toggle-btn span {
    display: block;
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 3px 0px;
}
#menu {
    color: white;
    position: relative;
    right: 1em;
    font-size: 1.2em;
    grid-area: menu;
    padding: 1em;
}
#contact {
    position: relative;
    left: 26.5em;
    font-size: 1.2em;
    grid-area: contact;
    padding: 1em;
    background-color: rgb(48, 112, 48);
}
#linkdeco {
    text-decoration: none;
    color: white;

}
    #sidebar {
        z-index: 1;
        top: 4.1em;
        position: fixed;
        width: 20em;
        height: 100%;
        background-color: black;
        left: -20em;
        transition: all 0.3s linear;
    }
    #sidebar.active {
        left: 0em;
    }
    
    nav {
        padding: 0em 0em;
        transition: 0.5s all;
        ul {
            padding: 0%;
        }
        li {
            list-style-type: none;
        }
        a {
            display: block;
            padding: 1em 0em 1em 1em;
            text-decoration: none;
            color: white;
            font-size: 1.2em;
            font-family: 'Black Han Sans', sans-serif;
            transition: 0.2s all;
        }
        a:hover {
            background-color: rgb(48, 112, 48);
            text-decoration: none;
            color: white;
        }
       
    }

    // --------------------scroll down--------------------------------
     
     // --------------------scroll down--------------------------------
#vid {
    margin-top: 4.1em;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden;
}
#bg {
    position: absolute;
    min-width: 100%;
    z-index: -1;
}
#activitygrid {
    padding-bottom: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "acth acth"
    "fish can";
    h2 {
        grid-area: acth;
    }
}
#fish {
    grid-area: fish;
    
}
#can {
    grid-area: can;
}
.images {
    width: 100%;
    height: 50vh;
}
.water {
    width: 70%;
}
#campgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "hike hikeimg"
    "campimg camp"
    "hunt huntimg";
}
.images2 {
    width: 100%;
    height: 70vh;
}
#hike {
    background-color: black;
    color: white;
    grid-area: hike;
}
#hikeimg {
    grid-area: hikeimg;
}
#camp {
    grid-area: camp;
}
#campimg {
    grid-area: campimg;
}
#hunt {
    grid-area: hunt;
    background-color: black;
    color: white;
    padding-bottom: 2em;
}
#huntimg {
    grid-area: huntimg;
}
.icons {
    width: 14%;
    margin-bottom: 1em;
}
#iconf {
    width: 14%;
    margin-bottom: 1.4em;
}
#contactinfo {
    text-align: center;
    padding: 5em 4em 0em 0em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "phone mail fbook";
}
#phone {
    grid-area: phone;
}
#mail {
    grid-area: mail;
}
#fbook {
    grid-area: fbook;
}
footer {
    text-align: center;
}





