//===== nav topbar content grid layout //
.nav-topbar {
    z-index: 10;
    top: 0em;
    position: fixed;
    background-color: black;
    @include main-font;
    display: grid;
    grid-template-columns: 1fr 1fr 16fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "btn menu contact";
}

#menu {
    @include nav-topbar;
    color: $white;
    right: 1em;
    grid-area: menu;  
}
#contact {
    @include nav-topbar;
    left: 43.2%;
    grid-area: contact;
    background-color: $green;
}
#link-decor {
    text-decoration: none;
    color: $white;
}

//===== nav topbar content grid layout //


//===== activity section grid layout //

#activity-container {
    padding-bottom: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "act-title act-title"
    "fish-contain canoe-contain";
    h2 {
        grid-area: act-title;
    }
        
}

#fishing-container {
    grid-area: fish-contain;    
}

#canoe-container {
    grid-area: canoe-contain;
}

#land-acts-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "hike-contain hike-img"
    "camp-img camp-contain"
    "hunt-contain hunt-img";
}
#hike-img {
    grid-area: hike-img;
}
#hike-container {
    @include land-acts-colors;
    grid-area: hike-contain;
}
#camp-img {
    grid-area: camp-img;
}
#camp-container {
    grid-area: camp-contain;
}
#hunt-img {
    grid-area: hunt-img;
}
#hunt-container {
    @include land-acts-colors;
    grid-area: hunt-contain;
    padding-bottom: 2em;
}

// ===== footer section grid layout===//

#contactinfo {
    text-align: center;
    padding: 5em 4em 0em 0em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "phone mail fbook";
}
#phone {
    grid-area: phone;
}
#mail {
    grid-area: mail;
}
#fbook {
    grid-area: fbook;
}
footer {
    text-align: center;
}

// ========================gallery==================================

#gallery-title {
    @include main-font;
    text-align: center;
    padding-top: 2em;
    transition-delay: 0.5s;
}
.gallery-sub {
    transition-delay: 0.8s;
}

.hiking-container {
    @include activities-img-container;
    transition-delay: 1s;
    grid-template-areas: 
    "hike-1 hike-2 hike-2 hike-3 hike-3"
    "hike-4 hike-4 hike-5 hike-6 hike-6"
    "hike-4 hike-4 hike-5 hike-6 hike-6";
}

#hike-1 {
    @include image-sizing;
    background-position: left;
    background-image: url(../images/hiking1.jpg);
    grid-area: hike-1;
}
#hike-2 {
    @include image-sizing;
    background-position: center;
    background-image: url(../images/hiking2.jpg);
    grid-area: hike-2;
}
#hike-3 {
    @include image-sizing;
    background-position: center;
    background-image: url(../images/hiking3.jpg);
    grid-area: hike-3;
}
#hike-4 {
    @include image-sizing;
    background-position: center;
    background-image: url(../images/hiking4.jpg);
    grid-area: hike-4;
}
#hike-5 {
    @include image-sizing;
    background-image: url(../images/hiking5.jpg);
    grid-area: hike-5;
}
#hike-6 {
    @include image-sizing;
    background-position: center;
    background-image: url(../images/hiking6.jpg);
    grid-area: hike-6;
}
.fishing-container {
    @include activities-img-container;
    grid-template-areas: 
    "fishing-1 fishing-1 fishing-1 fishing-3 fishing-3"
    "fishing-4 fishing-5 fishing-2 fishing-3 fishing-3"
    "fishing-4 fishing-5 fishing-2 fishing-6 fishing-6";    
}
    
#fishing-1 {
    @include image-sizing;
    background-position: center;
    background-image: url(../images/fishing1.jpg);
    grid-area: fishing-1;
}
#fishing-2 {
    @include image-sizing;
    background-position: right;
    background-image: url(../images/fishing4.jpg);
    grid-area: fishing-2;
}
#fishing-3 {
    @include image-sizing;
    background-position: center;
    background-image: url(../images/fishing3.jpg);
    grid-area: fishing-3;
}
#fishing-4 {
    @include image-sizing;
    background-position: center;
    background-image: url(../images/fishing2.jpg);
    grid-area: fishing-4;
}
#fishing-5 {
    @include image-sizing;
    background-position: right;
    background-image: url(../images/fishing5.jpg);
    grid-area: fishing-5;
}
#fishing-6 {
    @include image-sizing;
    background-position: center;
    background-image: url(../images/fishing6.jpg);
    grid-area: fishing-6;
}

.canoe-container {
    @include activities-img-container;
    grid-template-areas: 
    "canoe-1 canoe-1 canoe-3 canoe-3 canoe-5"
    "canoe-1 canoe-1 canoe-4 canoe-4 canoe-6"
    "canoe-2 canoe-2 canoe-4 canoe-4 canoe-6";    
}
    
#canoe-1 {
    @include image-sizing;
    background-image: url(../images/canoe1.jpg);
    grid-area: canoe-1;
}
#canoe-2 {
    @include image-sizing;
    background-position: center;
    background-image: url(../images/canoe2.jpg);
    grid-area: canoe-2;
}
#canoe-3 {
    @include image-sizing;
    background-image: url(../images/canoe3.jpg);
    grid-area: canoe-3;
}
#canoe-4 {
    @include image-sizing;
    background-position: right;
    background-image: url(../images/canoe4.jpg);
    grid-area: canoe-4;
}
#canoe-5 {
    @include image-sizing;
    background-position: center;
    background-image: url(../images/canoe5.jpg);
    grid-area: canoe-5;
}
#canoe-6 {
    @include image-sizing;
    background-position: center;
    background-image: url(../images/canoe6.jpg);
    grid-area: canoe-6;
}
.camp-container {
    @include activities-img-container;
    grid-template-areas: 
    "camp-1 camp-1 camp-3 camp-3 camp-6"
    "camp-2 camp-2 camp-4 camp-4 camp-6"
    "camp-2 camp-2 camp-4 camp-4 camp-5";    
}
    
#camp-1 {
    @include image-sizing;
    background-position: left;
    background-image: url(../images/camp1.jpg);
    grid-area: camp-1;
}
#camp-2 {
    @include image-sizing;
    background-position: center;
    background-image: url(../images/camp2.jpg);
    grid-area: camp-2;
}
#camp-3 {
    @include image-sizing;
    background-position: center;
    background-image: url(../images/camp3.jpg);
    grid-area: camp-3;
}
#camp-4 {
    @include image-sizing;
    background-position: center;
    background-image: url(../images/camp5.jpg);
    grid-area: camp-4;
}
#camp-5 {
    @include image-sizing;
    background-position: center;
    background-image: url(../images/camp4.png);
    grid-area: camp-5;
}
#camp-6 {
    @include image-sizing;
    background-position: center;
    background-image: url(../images/camp6.jpg);
    grid-area: camp-6;
}
.hunt-container {
    @include activities-img-container;
    grid-template-areas: 
    "hunt-1 hunt-2 hunt-3 hunt-5 hunt-5"
    "hunt-1 hunt-2 hunt-3 hunt-4 hunt-4"
    "hunt-6 hunt-6 hunt-6 hunt-4 hunt-4";    
}
    
#hunt-1 {
    @include image-sizing;
    background-position: left;
    background-image: url(../images/hunt1.jpg);
    grid-area: hunt-1;
}
#hunt-2 {
    @include image-sizing;
    background-position: center;
    background-image: url(../images/hunt2.jpg);
    grid-area: hunt-2;
}
#hunt-3 {
    @include image-sizing;
    background-position: center;
    background-image: url(../images/hunt6.jpg);
    grid-area: hunt-3;
}
#hunt-4 {
    @include image-sizing;
    background-position: center;
    background-image: url(../images/hunt3.jpg);
    grid-area: hunt-4;
}
#hunt-5 {
    @include image-sizing;
    background-image: url(../images/hunt5.jpg);
    grid-area: hunt-5;
}
#hunt-6 {   
    @include image-sizing;
    background-position: center;
    background-image: url(../images/hunt4.jpg);
    grid-area: hunt-6;
}
