// Device = Most of the Smartphones Mobiles (Portrait)
//   Screen = B/w 320px to 479px


@media (min-width: 320px) and (max-width: 480px) {
    
    //=============================== gobal  styles starts ========================================
    
    h2 {
        font-size: 1em;
    }
    h3 {
        @include secondary-font;
        font-size: 1.1em;
    }
    
    h4 {
        @include sub-heading;
        width: 85%;
        font-size: 1.1em;
        margin-bottom: 0%;
    }
    
    p {
        font-size: 0.9em;
        @include par-font;
    }
    //=============================== global  styles ends ========================================
    .nav-topbar {
        font-size: 0.8em;
    }
    #menu {
        right: 0.5em !important; 
    }
    #contact {
        left: 21% !important;   
    }
    .readmore-btn {
        padding: 1em;
        font-size: 0.7em;
    }
    //=============================== sidebar  styles starts ========================================
    
    #sidebar {
        width: 12.5em;
        top:3.4em;
    }

    nav {
        a {
            display: block;
            padding: 0.6em 0em 0.6em 0.6em;
            font-size: 1em;
        }
    }
    //=============================== sidebar  styles ends ========================================
    
    //=============================== hero styles starts ========================================
    
    .hero-container {    
        padding-top: 3em;
    }
    #logo {
        width: 30%;
        height: 30%;
    }
    .main-title {
        font-size: 2em;
    }
    #vid-container {
        margin-top: 3.3em !important;
        height: 70vh !important;
    }
    #vid-bg {
        left: -90%;
    }
  
    .mouse_scroll {
        margin-top: 4em;
    }
    //=============================== hero styles ends ========================================
    
    #about-container {
        padding-bottom: 5em;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "about-title"
        "1st-par"
        "2nd-par";
    }
    #about-par-first {
        padding: 0%;
        width: 80%;
    }
    #about-par-second {    
        padding: 0%;
        width: 80%;
    }
    #about-img {
        height: 34vh;
    }
    #activity-container {
        grid-template-columns: 1fr !important;
        grid-template-rows: auto !important;
        grid-template-areas: 
        "act-title"
        "act-title"
        "fish-contain"
        "canoe-contain"
        !important;
    }

    .grid1st-images {
        height: 34vh;
    }
    .grid2nd-images {
        height: 34vh;
    }

    #fishing-container {
        padding-bottom: 5em;    
    }
    .content-width {
        width: 85%;
    }
    #land-acts-container {
        grid-template-columns: 1fr !important;
        grid-template-rows: auto !important;
        grid-template-areas: 
        "hike-img"
        "hike-contain"
        "camp-img"
        "camp-contain"
        "hunt-img"
        "hunt-contain"
        !important;
    }
    #hike-container {
        padding-bottom: 5em;
    }
    #camp-container {
        padding-bottom: 5em;
    }
    #hunt-container {
        padding-bottom: 5em !important;
    }

    .icons {
        width: 10%;
        margin-bottom: 0em;
    }
    #contactinfo {
        padding: 5em 0em 0em 0em !important;
        grid-template-columns: 1fr !important;
        grid-template-rows: auto !important;
        grid-template-areas: 
        "fbook"
        "phone"
        "mail"
        !important;

        p {
            margin-bottom: 0%;
            font-size: 1em;
        }
        #phone {
            padding-bottom: 2em !important;
        }
        #mail {
            padding-bottom: 2em !important;
        }
        #fbook {
            padding-bottom: 2em !important;
        }
    }
}    
