// Device = Most of the Smartphones Mobiles (Portrait)
//   Screen = B/w 320px to 479px


@media (min-width: 320px) and (max-width: 480px) {

    //=============================== gobal styles starts ========================================
    
    h2 {
        font-size: 1em;
    }
    h3 {
        @include secondary-font;
        font-size: 1.1em;
    }
    
    h4 {
        @include sub-heading;
        width: 85%;
        font-size: 1.1em;
        margin-bottom: 0%;
    }
    
    p {
        font-size: 0.9em;
        @include par-font;
    }
    //=============================== global styles ends ========================================
    
    //=============================== topbar styles ends ========================================
    .nav-topbar {
        font-size: 0.8em;
        margin-bottom: 0%;
    }

    .readmore-btn {
        padding: 1em;
        font-size: 0.7em;
    }
    //=============================== topbar styles ends ========================================

    //=============================== sidebar  styles starts ========================================
    
    #sidebar {
        width: 12.5em;
        top:3.3em;
    }

    nav {
        a {
            display: block;
            padding: 0.6em 0em 0.6em 0.6em;
            font-size: 1em;
        }
    }
    //=============================== sidebar  styles ends ========================================
    
    //=============================== footer styles starts ========================================

    .icons {
        width: 10%;
        margin-bottom: 0em;
    }
    #contactinfo {
        padding: 5em 0em 0em 0em !important;
        grid-template-columns: 1fr !important;
        grid-template-rows: auto !important;
        grid-template-areas: 
        "fbook"
        "phone"
        "mail"
        !important;

        p {
            margin-bottom: 0%;
            font-size: 1em;
        }
        #phone {
            padding-bottom: 2em !important;
        }
        #mail {
            padding-bottom: 2em !important;
        }
        #fbook {
            padding-bottom: 2em !important;
        }
    }
    //=============================== footer styles ends ========================================

    
    // ****************************** HOME PAGE STYLES STARTS  ****************************** //


    //=============================== hero styles starts ========================================
    
    .hero-container {    
        padding-top: 3em;
    }
    #logo {
        width: 30%;
        height: 30%;
    }
    .main-title {
        font-size: 2em;
    }
    #vid-container {
        margin-top: 3.2em !important;
        height: 70vh !important;
    }
    #vid-bg {
        left: -90%;
    }
  
    .mouse_scroll {
        margin-top: 4em;
    }
    //=============================== hero styles ends ========================================
    
    //=============================== about styles starts ========================================

    #about-container {
        padding-bottom: 5em;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "about-title"
        "1st-par"
        "2nd-par";
    }
    #about-par-first {
        padding: 0%;
        width: 80%;
    }
    #about-par-second {    
        padding: 0%;
        width: 80%;
    }
    #about-img {
        height: 34vh;
    }
    //=============================== about styles ends ========================================

    //=============================== activity styles starts ========================================

    #activity-container {
        grid-template-columns: 1fr !important;
        grid-template-rows: auto !important;
        grid-template-areas: 
        "act-title"
        "act-title"
        "fish-contain"
        "canoe-contain"
        !important;
    }

    .grid1st-images {
        height: 34vh;
    }
    .grid2nd-images {
        height: 34vh;
    }

    #fishing-container {
        padding-bottom: 5em;    
    }
    .content-width {
        width: 85%;
    }
    #land-acts-container {
        grid-template-columns: 1fr !important;
        grid-template-rows: auto !important;
        grid-template-areas: 
        "hike-img"
        "hike-contain"
        "camp-img"
        "camp-contain"
        "hunt-img"
        "hunt-contain"
        !important;
    }
    #hike-container {
        padding-bottom: 5em;
    }
    #camp-container {
        padding-bottom: 5em;
    }
    #hunt-container {
        padding-bottom: 5em !important;
    }
    //=============================== activity styles ends ========================================
    

    // ****************************** HOME PAGE STYLES STARTS  ****************************** //
   

    // ****************************** CONTACT PAGE STYLES STARTS  ****************************** //

    // -- sizes --//
    $hover-label-width:18%;
    $placeholder-bumper:1.5%;
    $label-padding:10px;
    

    // ==============================form===============================

    #formbg {
        background-image: url(../images/kirstenbosch.jpg);
        width: 100%;
        height: 110vh;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #form-container {
        top: 5em;
        position: relative;
        background:rgba(0, 0, 0, 0.774);
        margin:53px auto 120px;
        text-align:center;
        padding:50px 0 110px;
        width:80%;
        max-width:1100px;
        transition-delay: 0.5s;
    }
    
    .form-title {
        margin-bottom:40px;
        font-size:1.5em;
        text-transform:uppercase;
        letter-spacing: 0.2em;
        @include sub-font;
        color: $white;
    }


    // Form
    form {
        width: 70% !important;
        @include grid(7);

        .field {
            width:100%;
            position:relative;
            margin-bottom:15px;

            // Label
            label {
                text-transform: uppercase;
                position:absolute;
                top:0;
                left:0;
                background:$grey;
                width:100%;
                padding:($label-padding + 0px) 0;
                font-size: 0.8em;
                letter-spacing: 0.2em;
                @include ease(333ms);
                @include par-font;
            }

            // Fields
            input[type="text"],
            textarea {
                border:none;
                background:$field-color;
                width:100% - $hover-label-width - $placeholder-bumper;
                margin:0;
                padding:$label-padding 0;
                padding-left:$hover-label-width + $placeholder-bumper;
                color:$grey;
                font-size: 0.8em;
                letter-spacing: 0.05em;
                @include par-font;
                
                &#msg {
                    height: 3em;
                    resize: none;
                    @include ease(333ms);
                }
                    
                // Focus and JS Toggle Class
                &:focus,
                &.focused {
                    outline:none;
            
                    &#msg {
                        padding-bottom:150px;
                    }

                    + label {
                        width:26%;
                        background:$green;
                        color:$white;
                    }
                }
            }

            // Field Hover
            &:hover {
                label {
                    width:26%;
                    background:$grey;
                    color:$white;
                }
            }
        }

        // Submit Button
        input[type="submit"] {
            background:$green;
            color:$white;
            border: none;
            text-transform: uppercase;
            position:relative;
            padding: 13px 50px;
            font-size: 0.8em;
            letter-spacing: 0.1em;
            @include sub-font;
            @include ease;

            &:hover {
                background:$grey;
            }

            &:focus {
                outline:none;
                background:$dark-green;
            }
        }
    }

    // ****************************** CONTACT PAGE STYLES ENDS  ****************************** //



    // ****************************** GALLERY STYLES STARTS  ****************************** //

 
    .hiking-container {
        display: inline-block !important;
        height: 100% !important;
    }
    .fishing-container {
        display: inline-block !important;
        height: 100% !important;
      }
    .canoe-container {
        display: inline-block !important;
        height: 100% !important;
    }
    .camp-container {
        display: inline-block !important;
        height: 100% !important;
    }
    .hunt-container {
        display: inline-block !important;
        height: 100% !important;
    }

    // ****************************** GALLERY STYLES STARTS  ****************************** //
}   
